{% extends "base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
        <section class="page-section" id="nosotros">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Es muy simple</h2>
                    <h3 class="section-subheading text-muted">Comprar y Vender en nuestra tienda es una pavada</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Buscá por marca o por categoría</h4>
                        <p class="text-muted">Podes filtrar tus productos según la categoría o la marca que prefieras.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Ver los productos</h4>
                        <p class="text-muted">En la sección de productos encontrarás el despliegue de productos actuales. Si sos administrador podras agregar, quitar o editar productos.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Comprar un producto</h4>
                        <p class="text-muted">Proximamente!! Por ahora podes buscarlos con el buscador o bien visualizarlos.</p>
                    </div>
                </div>
            </div>
        </section>     
{% endblock %}
